CompileFlags:
  Remove:
    - -fmodules-ts
    - -fmodule-mapper=*
    - -fdeps-format=*
  CompilationDatabase: "build/Debug"

Index:
  Background: Build

Completion:
  ArgumentLists: Delimiters
  HeaderInsertion: Never
